<!DOCTYPE html>
<html>
<body>
<style>
.myClass {
  color: white;
  background-color: DodgerBlue;
  padding: 20px;
  text-align: center;
  margin: 10px;
}
body{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  button{
    background-color:  transparent;
    color: white;
    border: none;
  }
  button:hover{
 
    background-color: green;
    border: none;
  }
</style>

<nav>
    <ul>
         <li> <button onclick="showContent()">Войти</button></li>
         
      </ul>
</nav>
 
<div class="myClass" hidden="true"> 
   <p>otp code будет в консоли</p>
   <label> Phone number</label>
   <input id="phoneNumber" name="phoneNumber" value="" type="text">
   <button onclick="getOtp()">Войти</button>
</div>
 
<div class="myClass" hidden="true"> 
     
    <label> OTP Code</label>
    <input id="otp" name="otp" value="" type="text">
    <button onclick="sendOtp()">Отправить</button>
 </div>
 
  
<div class="myClass" hidden="true"> 
   
    <div>
        <label>phone:</label>
        <p id="phone"></p>
    </div>
    <div>
        <label>invate:</label>
        <p id="invate"></p>
    </div>
    <div>
        <label>some_invate:</label>
        <input id="some_invate" type="text">
        <button onclick="profilePUT()" id="buttonPUTProfile"> ОК </button>
    </div>
    
    <div id="users">

    </div>
 </div>
  
 

<script>
function getCookie(name) {
    let cookie = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
    return cookie ? cookie[2] : null;
}

async function api(url, headers) 
{
    const response = await fetch(url, headers);
    const data = await response.json();
    return data;
}

temp = document.getElementsByClassName("myClass")[0];
temp1 = document.getElementsByClassName("myClass")[1];
temp2 = document.getElementsByClassName("myClass")[2];
let ac = ''
let phoneNumberVal = "";

function showContent() {
    const usersEl = document.getElementById("users");
    usersEl.innerHTML = "";
    usersEl.innerText = "";
    temp1.hidden = true;
    temp2.hidden = true;
    temp.hidden = false;
    
   
}


async function getOtp(){
    phoneNumber = document.getElementById("phoneNumber");
    
    headers={
        method: "POST",
        mode: "cors",
        credentials: "same-origin",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie("csrftoken"), 
             
        },
        body: JSON.stringify({'user_phone': phoneNumber.value})
    };
    const data = await api('http://localhost:8000/auth/login/', headers);
    console.log(data['otp']);
    phoneNumberVal = phoneNumber.value;
    temp.hidden = true;
    temp1.hidden = false;
}

async function sendOtp(){
    otp = document.getElementById("otp");
    headers={
        method: "POST",
        mode: "cors",
        credentials: "same-origin",
        headers: {
          
            "X-CSRFToken": getCookie("csrftoken"),
            "Content-Type": "application/json",
        },
        body: JSON.stringify({'otp':  otp.value, 'user_phone': phoneNumberVal })
    };
    data = await api('http://localhost:8000/auth/otp_validation/', headers);
    ac = data.access;
    temp1.hidden = true;
    temp2.hidden = false;
    profileGET();
}

async function profileGET(){
    headers={
        method: "GET",
        mode: "cors",
        headers: {
            "X-CSRFToken": getCookie("csrftoken"), 
            "Content-Type": "application/json",
            "Authorization":`Bearer  ${ac}`,
          },
         
        };
    const data = await api('http://127.0.0.1:8000/profile/', headers );
    const phone = document.getElementById("phone");
    const invate = document.getElementById("invate");
    const some_invate = document.getElementById("some_invate");
    const usersEl = document.getElementById("users");
    phone.textContent = data['phone'];
    invate.textContent = data['invate'];
    some_invate.textContent = data['some_invate'];
    const users = data['users'];
    console.table(users)
    
    for(let user of users){
        for(let prop in user){
            if( 'users' === prop || 'name' === prop)
                continue;
            const div = document.createElement('div');
            const p = document.createElement('p');
            p.textContent = `${prop}: ${user[prop]}`;
            div.appendChild(p)
            usersEl.appendChild(div);
            
        }
    }
    
}

function profilePUT(){
    const some_invate = document.getElementById("some_invate");
    headers={
        method: "PUT",
        mode: "cors",
        headers: {
            "X-CSRFToken": getCookie("csrftoken"), 
            "Content-Type": "application/json",
            "Authorization":`Bearer  ${ac}`,
          },
        body: JSON.stringify({'someone_invite': some_invate.value, })
    };
    api('http://127.0.0.1:8000/profile/', headers );
    const buttonPUTProfile = document.getElementById("buttonPUTProfile");
    buttonPUTProfile.hidden = true;
    profileGET();
}


</script>

</body>
</html>
